<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)} class="h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"
    />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title><%= assigns[:page_title] || "Teal" %></title>
    <link rel="stylesheet" href={asset_path(@conn, :css)} />
    <script
      src={asset_path(@conn, :js)}
      nonce={csp_nonce(@conn, :script)}
      defer
      type="text/javascript"
    >
    </script>
  </head>
  <body class="h-full">
    <.sidebar_layout>
      <%= @inner_content %>
    </.sidebar_layout>
  </body>
</html>
